.git
.github
node_modules
.venv
venv
ENV
.env
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov
dist
build
*.egg-info
.nx
.angular
apps/intranet/backend/.venv
apps/intranet/backend/__pycache__
